.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.terminal {
  width: 400px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.terminal-header {
  height: 50px;
  background-color: #333;
  display: flex;
  align-items: center;
  padding: 0 20px;
  color: white;
}

.terminal-input {
  width: calc(100% - 100px);
  height: 50px;
  padding: 0 20px;
  border: none;
  background-color: #222;
  color: white;
  font-family: monospace;
}

.terminal-button {
    background-color: white;
    color: black;
    border: none;
    border-radius: 10px;
    margin: 5px;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.terminal-button:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.terminal-error {
  height: 30px;
  background-color: #222;
  color: white;
  font-family: monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.terminal-output {
  min-height: 200px;
  background-color: #222;
  padding: 20px;
  color: white;
  font-family: monospace;
  overflow-y: scroll;
}
